absl-py
aiosqlite
alembic
annotated-types
anyio
asyncpg
av
certifi
cffi
charset-normalizer
click
cloudpickle
contourpy
ctranslate2
cycler
fastapi
faster-whisper
filelock
flatbuffers
fonttools
fsspec
greenlet
h11
hf-xet
httpcore
httptools
httpx
huggingface_hub
idna
iniconfig
Jinja2
kiwisolver
Mako
MarkupSafe
matplotlib
mediapipe
mpmath
networkx
numpy
nvidia-ml-py
onnxruntime
opencv-contrib-python
opencv-python
packaging
pillow
pluggy
polars
polars-runtime-32
protobuf
psutil
pycparser
pydantic
pydantic-settings
pydantic_core
pyparsing
pytest
pytest-asyncio
python-dateutil
python-dotenv
python-multipart
PyYAML
requests
setuptools
six
sounddevice
SQLAlchemy
starlette
sympy
tokenizers
torch
torchvision
tqdm
typing_extensions
ultralytics
ultralytics-platform
ultralytics-thop
urllib3
uvicorn
watchfiles
websockets
